<script setup>
import {ref} from "vue";
import DraggableCardRounded from "./DraggableCardRounded.vue";

const props = defineProps( {
	mode: {
		type: String,
		default: "simple",
	},
} );

const items = ref( [
	{ uuid: '1', label: 'Entry 1' },
	{ uuid: '2', label: 'Entry 2' },
	{ uuid: '3', label: 'Entry 3' },
	{ uuid: '4', label: 'Entry 4' },
	{ uuid: '5', label: 'Entry 5' },
	{ uuid: '6', label: 'Entry 6', locked: true },
	{ uuid: '7', label: 'Entry 7' },
	{ uuid: '8', label: 'Entry 8' },
	{ uuid: '9', label: 'Entry 9' },
	{ uuid: '10', label: 'Entry 10' },
] );

const mixedItems = ref( [
	{ uuid: "1", label: "Entry 1" },
	{ uuid: "2", label: "Entry 2" },
	{ uuid: "3", label: "Entry 3", cardComponent: DraggableCardRounded },
	{ uuid: "4", label: "Entry 4" },
	{ uuid: "5", label: "Entry 5", cardComponent: "DraggableCardRotated" },
	{ uuid: "6", label: "Entry 6", locked: true },
	{ uuid: "7", label: "Entry 7" },
	{ uuid: "8", label: "Entry 8" },
	{ uuid: "9", label: "Entry 9" },
	{ uuid: "10", label: "Entry 10" },
] );

const moveCard = ( before, now ) => {
	const list = (props.mode === "mixed" ? mixedItems : items);
	list.value.splice( now - ( before < now ? 1 : 0 ), 0, ...list.value.splice( before, 1 ) );
}
</script>

<template>
	<div class="demo-box" :class="mode">
		<DraggableCardsList
			v-if="mode === 'simple'"
			:drop-zone-size="20"
			:cards="items"
			@move-card="moveCard"/>
		<DraggableCardsList
			v-if="mode === 'advanced'"
			card-component="DraggableCardAlt"
			:drop-zone-size="20"
			:cards="items"
			@move-card="moveCard"/>
		<DraggableCardsList
			v-if="mode === 'mixed'"
			card-component="DraggableCardAlt"
			:drop-zone-size="20"
			:cards="mixedItems"
			@move-card="moveCard"/>
	</div>
</template>

<style scoped lang="scss">
.demo-box {
	position: relative;
	max-height: 400px;
	overflow: auto;

	--dc-card-border: 1px solid var(--vp-c-neutral);
}
</style>
