<script setup>

import { computed, ref } from "vue";

defineProps( {
	mode: {
		type: String,
		default: "simple",
	},
} );

let nextId = 1;

const items = ref( new Array( 123 ).fill( 0 ).map( ( _, index ) => ( {
	uuid: nextId++,
	label: `Item #${index + 1}${index % 5 === 4 ? " with attached foo" : ""}`,
	model: `${index % 5 === 4 ? "Pro Extended" : "Standard"}`,
	weight: Math.round( Math.random() * 10000 ),
	amount: Math.round( Math.random() * 10000 ),
	width: Math.round( Math.random() * 10000 ),
	height: Math.round( Math.random() * 10000 ),
	length: Math.round( Math.random() * 10000 ),
	price: Math.round( Math.random() * 10000 ) / 100,
} ) ) );

/** @type ListManager */
const manager = {
	items: ref( [] ),
	count: computed( () => items.value.length ),

	query( filters, options ) {
		let sorter;

		if ( options.sortBy === "label" ) {
			sorter = options.sortAscending ?
				( l, r ) => l.label.localeCompare( r.label, undefined, { numeric: true } ) :
				( l, r ) => r.label.localeCompare( l.label, undefined, { numeric: true } );
		} else if ( [ "amount", "weight", "price" ].indexOf( options.sortBy ) > -1 ) {
			sorter = options.sortAscending ? ( l, r ) => l[options.sortBy] - r[options.sortBy] : ( l, r ) => r[options.sortBy] - l[options.sortBy];
		}

		const sorted = sorter ? items.value.sort( sorter ) : items.value;
		const offset = options.offset || 0;
		const limit = options.limit || 1000;

		manager.items.value = sorted.slice( offset, offset + limit ).map( i => ( {
			...i,
			toString: () => i.label
		} ) );
	},

	create( properties ) {
		items.value.push( {
			...properties,
			uuid: nextId++,
		} );

		return false;
	},

	read: item => item,

	update( item, properties ) {
		const source = items.value.find( i => i.uuid === item.uuid );

		for ( const [ key, value ] of Object.entries( properties ) ) {
			source[key] = value;
		}

		return false;
	},

	delete( toRemove ) {
		const removed = [];

		for ( let i = 0; i < items.value.length; i++ ) {
			const uuid = items.value[i].uuid;

			if ( toRemove.find( i => i.uuid === uuid ) ) {
				removed.push( ...items.value.splice( i--, 1 ) );
			}
		}

		return removed;
	},

	schema: {
		props: {
			label: {
				type: "text",
				sortable: true,
				header: "Label",
			},
			model: {
				type: "text",
				header: "Model",
			},
			weight: {
				type: "number",
				sortable: true,
				alignment: "right",
				header: "Weight (kg)",
			},
			width: {
				type: "number",
				alignment: "right",
				header: "Width (mm)",
			},
			height: {
				type: "number",
				alignment: "right",
				header: "Height (mm)",
			},
			length: {
				type: "number",
				alignment: "right",
				header: "Length (mm)",
			},
			price: {
				type: "number",
				sortable: true,
				alignment: "right",
				header: "Net price (EUR)",
			},
			amount: {
				type: "number",
				sortable: true,
				alignment: "right",
				header: "In stock",
			}
		},
	},

	modelSingular: "foo",
	modelPlural: "foos",

	mayCreate: true,
};
</script>

<template>
	<div class="demo-box" :class="mode">
		<GenericList
			:manager="manager"
			i18n-header-prefix=""
			i18n-editor-prefix=""
			columns="label,model,width,height,length,weight,amount,price"
			:selectable="true"
			:table="false"
			:readonly="false"
		/>
	</div>
</template>

<style scoped lang="scss">
.demo-box {
	position: relative;
	max-height: 500px;
	overflow: auto;
}
</style>
