<script setup>
import { ref } from "vue";

defineProps( {
	data: Object,
	floating: Boolean,
} );

const element = ref();

defineExpose( { element } );
</script>

<template>
	<div class="alt" :class="{ locked: data.locked, floating }" ref="element">
		<h3>Alt Card</h3>
		<div>
			<label>UUID:</label>
			<span>{{ data.uuid }}</span>
		</div>
		<div>
			<label>Label:</label>
			<span>{{ data.label }}</span>
		</div>
	</div>
</template>

<style scoped lang="scss">
.alt {
	color: #000000;
	background: #ddddff;
	border: 1px solid #ccccff;
	border-radius: 10px;
	padding: 10px;

	&.locked {
		color: var( --vp-c-neutral );
		background: transparent;
		opacity: 0.5;
	}

	&.floating {
		box-shadow: 0 0 5px #00000040;
		background: #88cccc;
		opacity: 0.8;
	}

	label {
		margin-right: 0.5em;
	}

	h3 {
		margin: 0;
	}
}
</style>
