<script setup>
import { ref } from "vue";

defineProps( {
	data: Object,
	floating: Boolean,
} );

const element = ref();

defineExpose( { element } );
</script>

<template>
	<div class="rounded" :class="{ locked: data.locked, floating }" ref="element">
		<h3>Alt Card</h3>
		<div>
			<label>UUID:</label>
			<span>{{ data.uuid }}</span>
		</div>
		<div>
			<label>Label:</label>
			<span>{{ data.label }}</span>
		</div>
	</div>
</template>

<style scoped lang="scss">
.rounded {
	color: #000000;
	background: #aaccaa;
	border: 1px solid #99bb99;
	border-radius: 50%;
	padding: 10px;
	text-align: center;
	width: 80%;
	margin: auto;
	box-sizing: border-box;

	&.floating {
		background: #aaaacc;
		border-color: #9999bb;
	}

	&.locked {
		background: transparent;
		opacity: 0.5;
	}

	label {
		margin-right: 0.5em;
	}

	h3 {
		margin: 0;
	}
}
</style>
