<script setup>
import { ref } from "vue";

defineProps( {
	data: Object,
	floating: Boolean,
} );

const element = ref();

defineExpose( { element } );
</script>

<template>
	<div class="card" :class="{ locked: data.locked, floating }" ref="element">
		<div class="rotated" :class="{ locked: data.locked }" ref="element">
			<h3>Alt Card</h3>
			<div>
				<label>UUID:</label>
				<span>{{ data.uuid }}</span>
			</div>
			<div>
				<label>Label:</label>
				<span>{{ data.label }}</span>
			</div>
		</div>
	</div>
</template>

<style scoped lang="scss">
.card {
	min-height: 150px;
	display: flex;
	flex-flow: column nowrap;
	align-items: stretch;
	justify-content: center;
}

.rotated {
	color: #000000;
	background: #ccaacc;
	border: 1px solid #bb99bb;
	border-radius: 10px;
	padding: 10px;
	transform: rotate(10deg);
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	transition: transform 200ms ease;

	&.locked {
		background: transparent;
		opacity: 0.5;
	}

	label {
		margin-right: 0.5em;
	}

	h3 {
		margin: 0;
	}
}

.floating > .rotated {
	box-shadow: 0 0 5px #00000040;
	opacity: 0.8;
	transform: rotate(-10deg);
}
</style>
