<script setup>
import { ref } from "vue";

import DraggableCard from "../atoms/DraggableCard.vue";
import DropZone from "../atoms/DropZone.vue";

defineProps( {
	cards: {
		type: Array,
		required: true,
	},
	cardComponent: [ String, Object ],
	dropZoneSize: Number,
	scrollSpeed: Number,
} );

const emits = defineEmits( ["move-card"] );

const dragging = ref( false );

const droppedAt = ( droppedAtIndex, event ) => {
	emits( "move-card", event.detail.index, droppedAtIndex );
};
</script>

<template>
	<div class="draggable-cards-list">
		<template
			v-for="( card, index ) of cards"
			:key="card.uuid"
		>
			<DropZone
				v-if="cards.length > 1"
				:index="index"
				:offer="dragging"
				:size="index > 0 ? dropZoneSize : 0"
				@card-dropped="droppedAt( index, $event )"
			></DropZone>
			<DraggableCard
				:index="index"
				:data="card"
				:locked="card.locked"
				:dragging="dragging"
				:component="cardComponent"
				:scroll-speed="scrollSpeed"
				@card-dragging="dragging = true"
				@card-dragged="dragging = false"
			></DraggableCard>
		</template>
		<DropZone
			v-if="cards.length > 1"
			:index="cards.length"
			:offer="dragging"
			@card-dropped="droppedAt( cards.length, $event )"
		></DropZone>
	</div>
</template>

<style scoped lang="scss">
.draggable-cards-list {
	position: relative;
}
</style>
