<template>
	<sl-dialog
		open
		:label="label"
		@sl-request-close.prevent.stop="close"
	>
		<sl-icon slot="icon" name="question-circle"/>

		<L10n
			:i18n="items.length === 1 ? '@vue3-lists.GENERIC_LIST.DELETE.questionSingle' : '@vue3-lists.GENERIC_LIST.DELETE.questionMultiple'"
			:data="context"
			markdown
		/>

		<ul>
			<GenericListItemLabel v-for="( item, index ) of items" :key="index" :item="item" type="li"/>
		</ul>

		<sl-button
			slot="footer"
			@click="cancel"
		>
			<L10n i18n="@vue3-lists.COMMON.cancel"/>
		</sl-button>

		<sl-button
			slot="footer"
			@click="confirm"
			variant="primary"
		>
			<L10n i18n="@vue3-lists.COMMON.delete"/>
		</sl-button>

		<LoadingIndicator :active="loading"/>
	</sl-dialog>
</template>

<script setup>
import { computed, inject, ref } from "vue";
import { useL10n, L10n } from "@cepharum/vue3-i18n";

import { isValidListManager } from "../../lib/helper";
import LoadingIndicator from "../atoms/LoadingIndicator.vue";
import GenericListItemLabel from "../atoms/GenericListItemLabel.vue";

const props = defineProps( {
	items: {
		type: Array,
		required: true,
	},
	manager: {
		type: Object,
		required: true,
		validator: isValidListManager
	}
} );

const emit = defineEmits( [ "removed", "cancelled" ] );

const l10n = useL10n();
const toast = inject( "toast", undefined );

const modelName = l10n.translate( {
	model: props.manager.modelSingular,
	models: props.manager.modelPlural,
} );

const loading = ref( false );
const label = l10n.translate( "@vue3-lists.GENERIC_LIST.DELETE.questionTitle" );

const context = computed( () => ( {
	count: props.items.length,
} ) );

const confirm = async() => {
	loading.value = true;

	try {
		await props.manager.delete( props.items );

		toast?.success( props.items.length === 1 ? "@vue3-lists.GENERIC_LIST.DELETE.successSingular" : "@vue3-lists.GENERIC_LIST.DELETE.successPlural", modelName );
		emit( "removed", props.items );
	} catch ( cause ) {
		console.error( cause );
		toast?.alert( props.items.length === 1 ? "@vue3-lists.GENERIC_LIST.DELETE.failedSingular" : "@vue3-lists.GENERIC_LIST.DELETE.failedPlural", modelName );
		emit( "removed", [] );
	} finally {
		loading.value = false;
	}
};

const cancel = () => {
	emit( "cancelled" );
};

const close = event => {
	if ( event.detail.source !== "overlay" ) {
		emit( "cancelled" );
	}
};
</script>

<style scoped lang="scss">
sl-dialog::part(panel) {
	position: relative;
}

ul {
	margin-top: 0.5em;
	padding-left: 2em;
	overflow-x: auto;
}

li {
	display: list-item;
	white-space: nowrap;
}
</style>
