<template>
	<component
		:is="rowContainer"
		:class="{...rowClasses, selected, selectable, unselectable: !selectable}"
		@click="selectable ? $event.altKey ? $emit( 'toggle', !selected ) : $emit( 'select' ) : null"
	>
		<GenericListCell class="item-selector" v-if="selectable" :table="table">
			<sl-checkbox
				:checked="selected"
				@click.capture.stop.prevent="$emit( 'toggle', !selected )"
			></sl-checkbox>
		</GenericListCell>
		<template
			v-for="property in properties"
			:key="property"
		>
			<GenericListCell
				v-if="definition[property]"
				:class="{[definition[property].alignment ?? 'left']: true, [property]: true}"
				:table="table"
			>
				<component
					v-if="definition[property].customComponent"
					:is="definition[property].customComponent"
					:property="property"
					:manager="manager"
					:item="item"
					:uuid="item.uuid"
					:value="item[property]"
				></component>
				<GenericListRelated
					v-else-if="definition[property].type === 'uuid' && !definition[property].customComponent"
					:property="property" :item="item" :manager="manager"
				></GenericListRelated>
				<sl-icon
					v-else-if="typeof item[property] === 'boolean' || manager.schema?.props[property].type === 'boolean'"
					:name="item[property] ? 'check-lg' : 'x-lg'"
				/>
				<L10n
					v-else-if="definition[property].options != null"
					:i18n="useFieldOptions(definition[property].options, item[property])?.label || item[property]"
				></L10n>
				<L10n v-else :i18n="String(item[property] ?? '-')"></L10n>
			</GenericListCell>
		</template>
		<GenericListCell class="actions" :table="table">
			<slot></slot>
		</GenericListCell>
	</component>
</template>

<script setup>
import { computed, toRefs } from "vue";
import { L10n } from "@cepharum/vue3-i18n";

import { useFieldOptions } from "../../composables/field";
import GenericListRelated from "../atoms/GenericListRelated.vue";
import GenericListCell from "../atoms/GenericListCell.vue";

const props = defineProps( {
	manager: {
		type: Object,
		required: true,
	},
	item: {
		type: Object,
		required: true,
	},
	columns: {
		type: [ String, Array ],
		required: true,
	},
	selectable: {
		type: Boolean,
		default: true,
	},
	selected: Boolean,
	table: {
		type: Boolean,
		default: true,
	},
} );

defineEmits( [ "select", "toggle" ] );

const { manager, table } = toRefs( props );

const rowContainer = computed( () => ( table.value ? "tr" : "div" ) );
const rowClasses = computed( () => ( table.value ? {} : { row: true } ) );

const definition = computed( () => manager.value.schema?.props );

const properties = computed( () => {
	if ( typeof props.columns === "string" ) {
		return props.columns.trim().split( /[,\s]+/ );
	}

	return props.columns;
} );
</script>

<style scoped lang="scss">
tr, .row {
	---glc-text: var(---glc-text-fb);
	---glc-action: var(---glc-action-fb);
	---glc-action-hover: var(---glc-action-hover-fb);
	---glc-bg: var(---glc-bg-fb);
	---glc-border: var(---glc-border-fb);

	&:nth-child(2n+1) {
		---glc-text-fb: var(--gl-cell-normal-color-text, var(--gl-color-text));
		---glc-action-fb: var(--gl-cell-normal-color-action, var(--gl-color-action, var(---glc-text-fb)));
		---glc-action-hover-fb: var(--gl-cell-normal-color-action-hover, var(--gl-color-action-hover, var(---glc-action-fb)));
		---glc-bg-fb: var(--gl-cell-normal-color-bg, var(--gl-color-bg));
		---glc-border-fb: var(--gl-cell-normal-color-border);
	}

	&:nth-child(2n) {
		---glc-text-fb: var(--gl-cell-normal-color-text-alt, var(--gl-cell-normal-color-text, var(--gl-color-text)));
		---glc-action-fb: var(--gl-cell-normal-color-action-alt, var(--gl-cell-normal-color-action, var(--gl-color-action, var(---glc-text-fb))));
		---glc-action-hover-fb: var(--gl-cell-normal-color-action-hover-alt, var(--gl-cell-normal-color-action-hover, var(--gl-color-action-hover, var(---glc-action-fb))));
		---glc-bg-fb: var(--gl-cell-normal-color-bg-alt, var(--gl-cell-normal-color-bg, var(--gl-color-bg)));
		---glc-border-fb: var(--gl-cell-normal-color-border-alt, var(--gl-cell-normal-color-border));
	}

	&:nth-child(n):hover {
		---glc-text: var(--gl-cell-hover-color-text, var(---glc-text-fb));
		---glc-action: var(--gl-cell-hover-color-action, var(---glc-action-fb));
		---glc-action-hover: var(--gl-cell-hover-color-action-hover, var(---glc-action-hover-fb));
		---glc-bg: var(--gl-cell-hover-color-bg, var(---glc-bg-fb));
		---glc-border: var(--gl-cell-hover-color-border, var(---glc-border-fb));
	}

	&:nth-child(n).selected, &:nth-child(n):hover.selected {
		---glc-text: var(--gl-cell-selected-color-text, var(---glc-text-fb));
		---glc-action: var(--gl-cell-selected-color-action, var(---glc-action-fb));
		---glc-action-hover: var(--gl-cell-selected-color-action-hover, var(---glc-action-hover-fb));
		---glc-bg: var(--gl-cell-selected-color-bg, var(---glc-bg-fb));
		---glc-border: var(--gl-cell-selected-color-border, var(---glc-border-fb));
	}

	> .left {
		text-align: left;
	}

	> .center {
		text-align: center;
	}

	> .right {
		text-align: right;
	}

	> .item-selector {
		position: sticky;
		left: 0;
		z-index: 1;

		&:not(.selectable) {
			width: 0;
			overflow: hidden;
		}
	}

	> .actions {
		position: sticky;
		right: 0;
		z-index: 2;
		text-align: right;
		white-space: nowrap;
		width: 1%;
	}
}

.row {
	display: table-row;
}
</style>
