<template>
	<component :is="headContainer" :class="headClasses">
	<component :is="rowContainer" :class="{...rowClasses, selectable, unselectable: !selectable}">
		<GenericListCell header class="item-selector" v-if="selectable" :table="table">
			<sl-checkbox
				:disabled="!maySelectAll"
				:checked="allSelected"
				:indeterminate="someSelected && !allSelected"
				@click.capture.stop.prevent="toggleAll"
			/>
		</GenericListCell>

			<GenericListCell
				header
				v-for="property in properties"
				:key="property"
				:value="schema[property]?.header || i18nPrefix + property"
				:class="{sortable: schema[property]?.sortable, [schema[property]?.alignment ?? 'left']: true, [property]: true}"
				:table="table"
				@click.capture.stop.prevent="changeSorting( property )"
			>
				<template v-slot v-if="schema[property]?.sortable">
					<GenericListIconButton
						header
						:icon="sortBy === property && !sortAscending ? 'caret-up' : 'caret-down'"
						:class="{current: sortBy === property}"
						@click="changeSorting( property )"
					/>
				</template>
			</GenericListCell>

		<GenericListCell
			header
			class="actions"
			:table="table"
		/>
	</component>
	</component>
</template>

<script setup>
import { computed, toRefs } from "vue";

import GenericListCell from "../atoms/GenericListCell.vue";
import GenericListIconButton from "../atoms/GenericListIconButton.vue";

const props = defineProps( {
	manager: {
		type: Object,
		required: true,
	},
	header: Object,
	item: Object,
	i18nPrefix: {
		String,
		default: "@vue3-lists.GENERIC_LIST.",
	},
	columns: {
		type: [ String, Array ],
		required: true,
	},
	selectable: {
		type: Boolean,
		default: true,
	},
	maySelectAll: Boolean,
	allSelected: Boolean,
	someSelected: Boolean,
	sortBy: String,
	sortAscending: Boolean,
	table: {
		type: Boolean,
		default: true,
	},
} );

const emit = defineEmits( [ "toggle-all", "update:sortBy", "update:sortAscending" ] );

const properties = computed( () => {
	if ( typeof props.columns === "string" ) {
		return props.columns.trim().split( /[,\s]+/ );
	}

	return props.columns;
} );

const { manager, table } = toRefs( props );

const schema = computed( () => manager.value.schema?.props || {} );

const headContainer = computed( () => ( table.value ? "thead" : "div" ) );
const headClasses = computed( () => ( table.value ? {} : { head: true } ) );

const rowContainer = computed( () => ( table.value ? "tr" : "div" ) );
const rowClasses = computed( () => ( table.value ? {} : { row: true } ) );

const toggleAll = () => {
	if ( props.maySelectAll ) {
		emit( "toggle-all" );
	}
};

const changeSorting = name => {
	if ( !schema.value[name]?.sortable ) {
		return;
	}

	if ( name === props.sortBy ) {
		emit( "update:sortAscending", !props.sortAscending );
	} else {
		emit( "update:sortBy", name );
		emit( "update:sortAscending", true );
	}
};
</script>

<style scoped lang="scss">
.head {
	display: table-header-group;

	> .row {
		display: table-row;
	}
}

tr, .row {
	---glc-text: var(--gl-cell-header-color-text, var(--gl-cell-normal-color-text, var(--gl-color-text)));
	---glc-action: var(--gl-cell-header-color-action, var(--gl-cell-normal-color-action, var(---glc-text)));
	---glc-action-hover: var(--gl-cell-header-color-action-hover, var(--gl-cell-normal-color-action-hover, var(---glc-action)));
	---glc-bg: var(--gl-cell-header-color-bg, var(--gl-cell-normal-color-bg, var(--gl-color-bg)));
	---glc-border: var(--gl-cell-header-color-border, var(--gl-cell-normal-color-border));

	> :deep(th), > :deep(.cell) {
		position: sticky;
		z-index: 5;
		top: 0;
		white-space: nowrap;

		&.item-selector {
			left: 0;
			z-index: 6;

			&:not(.selectable) {
				width: 0;
				overflow: hidden;
			}
		}

		&.actions {
			right: 0;
			text-align: right;
			width: 1%;
		}

		&.left {
			text-align: left;
		}

		&.center {
			text-align: center;
		}

		&.right {
			text-align: right;
		}
	}
}

.sortable {
	cursor: pointer;
}
</style>
