<template>
	<div class="navigator">
		<GenericListIconButton
			class="paging"
			icon="caret-left"
			:disabled="offset < 1"
			@click="showPreviousPage"
		/>
		<GenericListNavigatorPageSize
			:manager="manager"
			:limit="limit"
			@update:limit="changePageSize"
		/>
		<GenericListNavigationPages
			class="pages"
			:manager="manager"
			:offset="offset"
			:limit="limit"
			@update:offset="$emit( 'update:offset', $event )"
		/>
		<div class="count" v-if="manager.count.value > 0">
			<L10n
				:i18n="manager.count.value === 1 ? '@vue3-lists.GENERIC_LIST.NAVIGATOR.countSingular' : '@vue3-lists.GENERIC_LIST.NAVIGATOR.countPlural'"
				:data="i18nContext"
			/>
		</div>
		<form
			class="search"
			@submit.prevent="sendQuery"
			v-if="manager.searchProperty || (filterOptions && filterOptions.length > 0)"
		>
			<sl-input
				v-if="manager.searchProperty"
				placeholder="Suche..."
				:value="searchQuery"
				@sl-input="searchQuery = $event.target.value"
			>
				<GenericListIconButton
					icon="search"
					slot="suffix"
					@click="sendQuery"
				/>
			</sl-input>

			<sl-select
				v-if="filterOptions.length > 0"
				multiple
				hoist
				:value="filter"
				class="filter"
				@sl-input="emit('update:filter', $event.target.value)"
			>
				<sl-option
					v-for="(option, index) in filterOptions"
					:key="index"
					:value="index"
				>{{ option.name }}
				</sl-option>
			</sl-select>
		</form>
		<GenericListIconButton
			class="paging"
			icon="caret-right"
			:disabled="offset >= maxOffset"
			@click="showNextPage"
		/>
	</div>
</template>

<script setup>
import { computed, ref, toRefs } from "vue";
import { useL10n, L10n } from "@cepharum/vue3-i18n";

import { isValidListManager } from "../../lib/helper";
import GenericListNavigationPages from "../atoms/GenericListNavigationPages.vue";
import GenericListNavigatorPageSize from "../atoms/GenericListNavigatorPageSize.vue";
import GenericListIconButton from "../atoms/GenericListIconButton.vue";

const props = defineProps( {
	manager: {
		type: Object,
		required: true,
		validator: isValidListManager,
	},
	offset: {
		type: Number,
		default: 0,
	},
	limit: {
		type: Number,
		default: 1000000,
	},
	query: {
		type: String,
		default: "",
	},
	filter: Object,
	filterOptions: Array
} );

const emit = defineEmits( [ "update:offset", "update:limit", "update:query", "update:filter" ] );

const l10n = useL10n();

const modelNames = l10n.translate( {
	model: props.manager.modelSingular,
	models: props.manager.modelPlural,
} );

const i18nContext = computed( () => ( {
	...modelNames.value,
	count: Number( props.manager.count.value ) ?? 0,
} ) );

const searchQuery = ref( "" );

const maxOffset = computed( () => Math.max( 0, ( props.manager.count.value ?? 0 ) - ( props.limit ?? 1000000 ) ) );

const { manager } = toRefs( props );

const sendQuery = () => {
	emit( "update:query", searchQuery.value );
};


const showPreviousPage = () => {
	const newOffset = Math.max( 0, props.offset - props.limit );

	if ( newOffset !== props.offset ) {
		emit( "update:offset", newOffset );
	}
};

const showNextPage = () => {
	const newOffset = Math.min( props.offset + props.limit, props.manager.count.value ?? 0 );

	if ( newOffset !== props.offset ) {
		emit( "update:offset", newOffset );
	}
};

const changePageSize = size => {
	emit( "update:limit", size );

	if ( size >= 1000000 ) {
		emit( "update:offset", 0 );
	}
};
</script>

<style scoped lang="scss">
.navigator {
	--gl-action-size: var(--gl-navigator-action-size, 1.3em);

	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	margin-bottom: calc(var(--gl-spacing, 20px) / 2);

	> sl-icon-button.paging {
		font-size: var(--gl-action-size);
	}

	> .items-per-page {
		max-width: 7em;
	}

	> .count {
		white-space: nowrap;
		margin: 0 var(--sl-spacing-x-small);
	}

	> .pages {
		margin: 0 var(--sl-spacing-x-small);
	}

	> .search {
	}
}

.filter {
	min-width: 10em;

	sl-option {
		white-space: nowrap;
	}
}
</style>
