<template>
	<GenericListFieldsGrid>
		<template
			v-for="field of fields"
			:key="field.name"
		>
			<hr v-if="field.breakBefore"/>
			<component
				:is="field.component || ( field.fieldType ? FieldTypes[field.fieldType] : FieldTypes[field.type] ) || GenericListField"
				:manager="manager"
				:label="field.label || i18nPrefix + field.name"
				:schema="field"
				:class="[ field.width ? 'col-' + field.width : 'col-6' ]"
				v-model="states[field.name].value"
				v-model:errors="states[field.name].errors"
				v-model:changed="states[field.name].changed"
				v-model:touched="states[field.name].touched"
				:version="states[field.name].version"
			></component>
		</template>
	</GenericListFieldsGrid>
</template>

<script setup>
import { inject } from "vue";

import { properties, events, useEditor } from "../../composables/editor";
import GenericListField from "../atoms/GenericListField.vue";
import GenericListFieldsGrid from "../templates/GenericListFieldsGrid.vue";

const FieldTypes = {
	// text: GenericListTextField,
	// enum: GenericListSelectField,
	...inject( "gl-field-types", {} ),
};

const props = defineProps( { ...properties } );

const emit = defineEmits( [...events] );

const { write, fields, states } = useEditor( props, emit );

defineExpose( { write } );
</script>

<style lang="scss" scoped>
.v-align {
	padding-top: 33px;
}

*::part(form-control-label) {
	display: block;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	position: relative;
}
</style>
