<script setup>
import { computed, ref, toRefs } from "vue";

const props = defineProps( {
	index: Number,
	offer: Boolean,
	size: {
		type: Number,
		default: 0,
	},
	margin: {
		type: Number,
		default: 20,
	},
} );

const { size, margin } = toRefs( props );

const innerSizeInPixels = computed( () => size.value + "px" );
const fullSizeInPixels = computed( () => String( size.value + ( 2 * margin.value ) ) + "px" );
const marginInPixels = computed( () => String( -margin.value ) + "px" );

const focusedSizeInPixels = ref( null );

const onCardHovering = event => {
	event.detail.offeredZoneIndex = props.index;

	const { cardIndex, cardHeight } = event.detail;

	if ( props.index < cardIndex || props.index > cardIndex + 1 ) {
		focusedSizeInPixels.value = String( ( parseFloat( cardHeight ) || 0 ) + size.value ) + "px";
	}
};

const onCardHovered = () => {
	focusedSizeInPixels.value = null;
};
</script>

<template>
<div
	class="drop-zone"
	:class="{offering: offer, focused: focusedSizeInPixels != null}"
	@card-hovering.capture.passive="onCardHovering"
	@card-hovered.capture.passive="onCardHovered"
></div>
</template>

<style scoped lang="scss">
.drop-zone {
	position: relative;
	z-index: 5;
	height: v-bind( innerSizeInPixels );
	box-sizing: content-box;
}

.offering {
	margin-top: v-bind( marginInPixels );
	margin-bottom: v-bind( marginInPixels );
	height: v-bind( fullSizeInPixels );
	padding-bottom: 0;
	transition: padding-bottom 200ms linear;

	&.focused {
		padding-bottom: v-bind( focusedSizeInPixels );
	}
}
</style>
