<template>
  <sl-spinner v-if="loading"/>
  <GenericListSelectorField
      v-else v-bind="props"
      @update:modelValue="$emit('update:modelValue', $event)"
      @update:errors="$emit('update:errors', $event)"
      @update:changed="$emit('update:changed', $event)"
      @update:touched="$emit('update:touched', $event)"
  ></GenericListSelectorField>
</template>

<script setup>
import { computed, ref, toRef, toRefs, watchEffect } from "vue";

import { properties } from "../../composables/field";
import { isValidListManager } from "../../lib/helper";
import GenericListSelectorField from "./GenericListSelectorField.vue";

const loading = ref( false );

const props = defineProps( {
	...properties,
	disabled: Boolean,
	multiple: Boolean,
	manager: {
		type: Object,
		required: true,
		validator: isValidListManager,
	},
	label: String,
	query: {
		type: Boolean,
		default: true,
	},
} );

const { manager, schema, query } = toRefs( props );

watchEffect( async() => {
	const relatedManager = manager.value.relatedManagers[schema.value?.relatedManager];

	loading.value = true;

	if ( relatedManager ) {
		if ( query.value ) {
			await relatedManager.query();
		}

		// eslint-disable-next-line vue/no-mutating-props
		schema.value.options = computed( () => {
			const items = relatedManager.items.value || [];

			return items.map( item => {
				const labelSource = computed( () => {
					if ( !item ) {
						return ref( null );
					}

					return typeof item.getLabel === "function" ? toRef( item.getLabel() ) : ref( String( item ) );
				} );

				return {
					value: item.uuid,
					label: labelSource.value.value,
				};
			} );
		} );
	}

	loading.value = false;
} );
</script>
