<script setup>
import { useL10n } from "@cepharum/vue3-i18n";
import HoistedTooltip from "./HoistedTooltip.vue";

defineProps( {
	icon: {
		type: String,
		required: true,
	},
	disabled: Boolean,
	header: Boolean,
	tooltip: String,
} );

defineEmits( ["click"] );

const l10n = useL10n();
</script>

<template>
	<hoisted-tooltip
		v-if="tooltip"
		:content="l10n.translate( tooltip ).value"
	>
		<sl-icon-button
			:class="{header}"
			:name="icon"
			:disabled="disabled"
			@click.capture.stop="$emit( 'click' )"
		></sl-icon-button>
	</hoisted-tooltip>

	<sl-icon-button
		v-else
		:class="{header}"
		:name="icon"
		:disabled="disabled"
		@click.capture.stop="$emit( 'click' )"
	></sl-icon-button>
</template>

<style scoped lang="scss">
sl-icon-button {
	font-size: var(--gl-action-size, 1em);

	&::part(base) {
		color: var(---glc-action, var(---glc-text));

		&:active, &:focus, &:hover {
			color: var(---glc-action-hover, var(---glc-action));
		}
	}

	&.header {
		vertical-align: middle;
		margin-left: var(--sl-spacing-2x-small);

		&::part(base) {
			padding: 0;
		}

		&:not(.current):not(:hover) {
			opacity: 0.3;
		}
	}
}
</style>
