<template>
	<component :is="container" :class="classes">
		<slot name="prefix"></slot>
		<L10n v-if="value" :i18n="value" :markdown="markdown"/>
		<slot></slot>
	</component>
</template>

<script setup>
import { computed, toRefs } from "vue";
import { L10n } from "@cepharum/vue3-i18n";

const props = defineProps( {
	header: Boolean,
	value: String,
	markdown: Boolean,
	table: {
		type: Boolean,
		default: true,
	},
} );

const { header, table } = toRefs( props );

const container = computed( () => ( table.value ? header.value ? "th" : "td" : "span" ) );
const classes = computed( () => ( table.value ? {} : { cell: true } ) );
</script>

<style scoped lang="scss">
td, th, .cell {
	display: table-cell;
	vertical-align: middle;
	box-sizing: content-box;
	height: var(--gl-cell-min-height, calc( var(--sl-toggle-size-medium) + var(---glc-selector-top) + var(---glc-selector-bottom) ));
	padding:
		var(--gl-cell-padding-top, var(--gl-cell-padding-vertical, var(--gl-cell-padding, 0.2em)))
		var(--gl-cell-padding-right, var(--gl-cell-padding-horizontal, var(--gl-cell-padding, 0.5em)))
		var(--gl-cell-padding-bottom, var(--gl-cell-padding-vertical, var(--gl-cell-padding, 0.2em)))
		var(--gl-cell-padding-left, var(--gl-cell-padding-horizontal, var(--gl-cell-padding, 0.5em)));
	color: var(---glc-text);
	background-color: var(---glc-bg);
	border-width:
		var(--gl-cell-border-top-width, var(--gl-cell-border-width, 0))
		var(--gl-cell-border-right-width, var(--gl-cell-border-width, 0))
		var(--gl-cell-border-bottom-width, var(--gl-cell-border-width, 1px))
		var(--gl-cell-border-left-width, var(--gl-cell-border-width, 0));
	border-style: solid;
	border-color: var(---glc-border, transparent);
}
</style>
