<template>
	<sl-select
		v-if="options?.length > 0"
		class="items-per-page"
		:value="current"
		@sl-input="$emit( 'update:limit', parseInt( $event.target.value ) )"
	>
		<sl-option
			v-for="size of options"
			:key="size"
			:value="String( size )"
		>{{ size }}</sl-option>
		<sl-option
			value="1000000"
			v-if="!hideAll"
		><L10n i18n="@vue3-lists.GENERIC_LIST.NAVIGATOR.sizeAll"/></sl-option>
	</sl-select>
</template>

<script setup>
import { computed } from "vue";
import { L10n } from "@cepharum/vue3-i18n";

import { isValidListManager } from "../../lib/helper";

const props = defineProps( {
	manager: {
		type: Object,
		required: true,
		validator: isValidListManager,
	},
	limit: {
		type: Number,
		default: 1000000,
	},
	sizes: {
		type: Array,
		validator: value => !value || ( Array.isArray( value ) && value.every( size => /^\d+/.test( size ) ) ),
	},
	hideAll: Boolean,
} );

defineEmits( ["update:limit"] );

const current = computed( () => String( parseInt( props.limit, 10 ) || "1000000" ) );

const options = computed( () => {
	let result;

	if ( props.sizes ) {
		result = props.sizes.map( size => parseInt( size ) ).filter( size => size > 0 );
	} else {
		result = [ 10, 20, 50, 100, 200, 500 ];
	}

	result.sort( ( l, r ) => l - r );

	const index = result.findIndex( size => size > ( props.manager.count.value || 0 ) );
	if ( index > -1 ) {
		result.splice( props.hideAll ? index + 1 : index );
	}

	return result;
} );
</script>
