<template>
	<sl-spinner v-if="loading"/>
	<sl-icon name="exclamation-triangle" v-else-if="error"></sl-icon>
	<template v-else>{{ label || "-" }}</template>
</template>

<script setup>
import { toRefs } from "vue";

import { isValidListManager } from "../../lib/helper";
import { useRelated } from "../../composables/related.js";

const props = defineProps( {
	property: String,
	item: Object,
	manager: {
		type: Object,
		required: true,
		validator: isValidListManager,
	},
} );

const { item, property, manager } = toRefs( props );

const { label, error, loading } = useRelated( item, manager, property );
</script>
