<template>
  <GenericListSelectorField
      v-if="fieldType === 'select'"
      :schema="schema"
      :manager="manager"
      :label="label"
      :modelValue="modelValue"
      @update:modelValue="$emit('update:modelValue', $event)"
      :errors="errors"
      @update:errors="$emit('update:errors', $event)"
      :changed="changed"
      @update:changed="$emit('update:changed', $event)"
      :touched="touched"
      @update:touched="$emit('update:touched', $event)"
      :version="version"
  ></GenericListSelectorField>

  <sl-checkbox
      ref="field"
      v-else-if="fieldType === 'checkbox'"
      :class="schema.class"
      :required="schema.required"
      :checked="modelValue"
      @sl-input="onInput( $event.target.checked )"
  >{{ texts.label }}
  </sl-checkbox>

  <GenericListRelatedField
      v-else-if="fieldType === 'related'"
      :schema="schema"
      :label="label"
      :manager="manager"
      :modelValue="modelValue"
      @update:modelValue="$emit('update:modelValue', $event)"
      :errors="errors"
      @update:errors="$emit('update:errors', $event)"
      :changed="changed"
      @update:changed="$emit('update:changed', $event)"
      :touched="touched"
      @update:touched="$emit('update:touched', $event)"
      :version="version"
  ></GenericListRelatedField>

  <GenericListTextField
      v-else
      :schema="schema"
      :manager="manager"
      :label="label"
      :modelValue="modelValue"
      @update:modelValue="$emit('update:modelValue', $event)"
      :errors="errors"
      @update:errors="$emit('update:errors', $event)"
      :changed="changed"
      @update:changed="$emit('update:changed', $event)"
      :touched="touched"
      @update:touched="$emit('update:touched', $event)"
      :version="version"
  ></GenericListTextField>
</template>

<script setup>
import { ref } from "vue";
import { useL10n } from "@cepharum/vue3-i18n";

import { events, properties, useField } from "../../composables/field";
import GenericListTextField from "./GenericListTextField.vue";
import GenericListSelectorField from "./GenericListSelectorField.vue";
import GenericListRelatedField from "./GenericListRelatedField.vue";

const props = defineProps( { ...properties } );
const emit = defineEmits( [...events] );

const field = ref();

const l10n = useL10n();
const { onInput, schema, fieldType } = useField( field, props, emit );

const texts = l10n.translate( {
	label: props.label || props.schema.label,
	hint: props.schema.hint,
	error: props.errors?.[0],
} );
</script>

<style scoped lang="scss">
sl-checkbox.next-to-input {
  &::part(base) {
    margin-top: calc(
        var(--sl-input-label-font-size-medium) * var(--sl-line-height-normal)
        + var(--sl-spacing-3x-small)
        + (((var(--sl-input-height-medium) - var(--sl-input-border-width) * 2) - (var(--sl-input-label-font-size-medium) * 1.125)) / 2)
    );
  }
}
</style>
