<template>
  <sl-select
      ref="field"
      clearable
      hoist
      :class="[schema.class, schema.readonly ? 'readonly' : 'mutable']"
      :label="texts.label"
      :help-text="texts.hint"
      :disabled="loading || schema.readonly || disabled"
      :required="schema.required"
      :multiple="schema.multiple || multiple"
      :value="String( modelValue )"
      @sl-change="onInput( $event.target.value )"
  >
    <template v-if="options">
      <sl-option
          v-for="option of options"
          :key="option.value"
          :value="String( option.value )"
          :disabled="schema.readonly && option.value !== modelValue"
      >
        <L10n :i18n="option.label"/>
      </sl-option>
    </template>
  </sl-select>
</template>

<script setup>
import { ref, } from "vue";
import { L10n, useL10n } from "@cepharum/vue3-i18n";

import { events, properties, useField } from "../../composables/field";

const props = defineProps( { ...properties, disabled: Boolean, multiple: Boolean } );


const emit = defineEmits( [...events] );

const field = ref();

const l10n = useL10n();
const { onInput, options, schema, loading } = useField( field, props, emit );

const texts = l10n.translate( {
	label: props.label || props.schema.label,
	hint: props.schema.hint,
	error: props.errors?.[0],
} );
</script>

<style lang="scss" scoped>
.readonly {
  &::part(combobox) {
    color: inherit;
    opacity: 1;

    &:hover {
      cursor: not-allowed;
    }
  }

  &::part(expand-icon) {
    display: none;
  }
}
</style>
