<template>
	<div v-if="pages.length > 0" class="pages">
		<template
			v-for="page of pages"
			:key="page.index ?? page.id"
		>
			<a
				v-if="page.label && page.offset !== offset"
				href="#"
				@click.prevent="switchToOffset( page.offset )"
			>{{ page.label }}</a>

			<span
				v-else-if="page.label"
				class="current"
			>{{ page.label }}</span>

			<span
				v-else
				class="gap"
			>&hellip;</span>
		</template>
	</div>
</template>

<script setup>
import { computed } from "vue";

import { isValidListManager } from "../../lib/helper";

const props = defineProps( {
	manager: {
		type: Object,
		require: true,
		validator: isValidListManager,
	},
	offset: {
		type: Number,
		default: 0,
	},
	limit: {
		type: Number,
		default: 1000000,
	},
	size: {
		type: Number,
		default: 7,
	},
	filter: {
		type: Object
	},
	filterOptions: {
		type: Array
	}
} );

const emit = defineEmits( ["update:offset"] );

const pages = computed( () => {
	let currentIndex = -1;
	const steps = [];
	let index = 0;
	const numTotal = props.manager.count.value ?? 0;

	for (
		let skip = props.offset - ( props.limit * Math.ceil( props.offset / props.limit ) );
		skip < numTotal;
		skip += props.limit, index++
	) {
		const step = {
			index: index,
			label: index + 1,
			offset: Math.max( 0, skip ),
		};

		if ( props.offset === step.offset ) {
			currentIndex = steps.length;
		}

		steps.push( step );
	}

	if ( steps.length > props.size ) {
		const semi = Math.floor( props.size / 2 );
		const first = Math.max( 0, Math.min( steps.length - props.size, currentIndex - semi ) );
		const slice = steps.slice( first, first + props.size );

		if ( first > 0 ) {
			slice[0] = { id: "leading" };
		}

		if ( first < steps.length - props.size ) {
			slice[slice.length - 1] = { id: "trailing" };
		}

		return slice;
	}

	return steps.length < 2 ? [] : steps;
} );

const switchToOffset = offset => {
	emit( "update:offset", offset );
};
</script>

<style scoped lang="scss">
.pages {
	> * {
		padding: 0 var(--sl-spacing-x-small);
	}

	a {
		text-decoration: none;
		color: var(---glc-action);
		font-weight: var(--gl-current-page-link, var(--sl-font-weight-normal));

		&:active, &:focus, &:hover {
			color: var(---glc-action-hover);
		}
	}

	.current {
		font-weight: var(--gl-current-page-font-weight, var(--sl-font-weight-bold));
	}
}
</style>
