<template>
	<sl-input
		ref="field"
		clearable
		:disabled="props.disabled"
		:class="schema.class"
		:label="texts.label"
		:help-text="texts.hint"
		:type="fieldType"
		:readonly="schema.readonly"
		:required="schema.required"
		:pattern="schema.pattern"
		:minlength="schema.minLength"
		:maxlength="schema.maxLength"
		:min="schema.min"
		:max="schema.max"
		:value="modelValue"
		:inputmode="textInputMode"
		@input="onInput( $event.target.value )"
		@sl-clear="onInput( '' )"
	></sl-input>
</template>

<script setup>
import { ref } from "vue";
import { useL10n } from "@cepharum/vue3-i18n";

import { events, properties, useField } from "../../composables/field";

const props = defineProps( { ...properties, disabled: Boolean } );
const emit = defineEmits( [...events] );

const field = ref();

const l10n = useL10n();
const { onInput, schema, fieldType, textInputMode } = useField( field, props, emit );

const texts = l10n.translate( {
	label: props.label || props.schema.label,
	hint: props.schema.hint,
	error: props.errors?.[0],
} );
</script>
