<template>
  <component :is="type">
    <sl-spinner v-if="loading"/>
    <template v-else>{{ rendered }}</template>
  </component>
</template>

<script setup>
import { computed, toRefs } from "vue";

const props = defineProps( {
	item: {
		type: Object,
		required: true,
	},
	type: {
		type: String,
		default: "span",
	},
} );

const { item } = toRefs( props );

const rendered = computed( () => {
	if ( typeof item.value?.getLabel === "function" ) {
		return item.value.getLabel();
	}

	return String( item.value );
} );

const loading = computed( () => {
	if ( typeof item.value?.getLabel === "function" ) {
		return rendered.value == null;
	}

	return false;
} );
</script>
