<template>
	<template
		v-for="action of normalizedActions"
		:key="action.name"
	>
		<GenericListIconButton
			:icon="action.icon || action.name"
			:disabled="action.disabled"
			:tooltip="action.tooltip"
			@click.capture.stop="trigger( action )"
		/>
	</template>
</template>

<script setup>
import { computed, toRefs } from "vue";

import { normalizeActions } from "../../lib/helper";
import GenericListIconButton from "./GenericListIconButton.vue";

const props = defineProps( {
	actions: {
		type: [ Array, Object ],
		default: () => [],
	},
	item: Object,
	index: [ Object, Number ],
	count: [ Object, Number ],
	localIndex: [ Object, Number ],
	localCount: [ Object, Number ],
} );

const emit = defineEmits( ["trigger"] );

const { actions, item, index, count, localIndex, localCount } = toRefs( props );
const normalizedActions = computed( () => normalizeActions.call( item.value, actions.value, localIndex.value, localCount.value, index.value, count.value ) );

const trigger = action => {
	if ( !action.disabled ) {
		emit( "trigger", action );
	}
};
</script>
