<script setup>
import { ref } from "vue";

defineProps( {
	content: String,
} );

const anchor = ref();

const popup = ref();

const active = ref( false );

const container = ref();

const reveal = () => {
	container.value = anchor.value.closest( ".generic-list > .content" ) || undefined;

	active.value = true;
};

const hide = () => {
	active.value = false;
};
</script>

<template>
<span class="hoisted-tooltip">
	<span class="anchor" ref="anchor" @pointerover="reveal()" @pointerout="hide()">
		<slot />
	</span>
	<sl-popup
		ref="popup"
		strategy="fixed"
		placement="top"
		flip
		:flipBoundary="container"
		flip-fallback-placements="bottom left-start right-start"
		flip-fallback-strategy="best-fit"
		distance="10"
		arrow
		:active="active"
		:anchor="anchor"
	>
		<div class="popup" style="z-index:1000">{{ content }}</div>
	</sl-popup>
</span>
</template>

<style scoped lang="scss">
.anchor {
	display: inline-block;
}

sl-popup::part(popup) {
	z-index: 1000;
	background: var(--sl-color-neutral-1000);
	color: var(--sl-color-neutral-0);
	padding: var(--sl-tooltip-padding);
	font-size: var(--sl-font-size-small);
}
</style>
