<template>
	<div class="shades" :class="{active}">
		<sl-spinner v-if="active"/>
	</div>
</template>

<script setup>
defineProps( {
	active: Boolean,
} );
</script>

<style scoped lang="scss">
.shades {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: calc( var(--sl-z-index-tooltip) + 1 );
	transition: backdrop-filter 200ms ease;
	display: flex;
	justify-content: center;
	align-items: center;

	&:not(.active) {
		pointer-events: none;
	}

	&.active {
		backdrop-filter: blur(2px);

		sl-spinner {
			font-size: 3em;
			--indicator-color: var(--gl-spinner-color, var(--sl-color-primary-600));
		}
	}
}
</style>
