<template>
	<div class="list-fields-grid">
		<slot></slot>
	</div>
</template>

<script setup>

</script>

<style lang="scss">
.list-fields-grid {
	display: flex;
	flex-flow: row wrap;
	margin-left: calc( -1 * var(--body-spacing) );
	margin-top: calc( -1 * var(--body-spacing) );

	> * {
		margin-left: var(--body-spacing);
		margin-top: var(--body-spacing);

		&.w-8, &.col-1 {
			flex: 1 1 calc( 8.333% - var(--body-spacing) );
      min-width: 5em;
		}

		&.w-17, &.col-2 {
			flex: 1 1 calc( 16.666% - var(--body-spacing) );
      min-width: 5em;
		}

		&.w-25, &.col-3 {
			flex: 1 1 calc( 25% - var(--body-spacing) );
			min-width: 10em;
		}

		&.w-33, &.col-4 {
			flex: 1 1 calc( 33.333% - var(--body-spacing) );
			min-width: 10em;
		}

		&.w-42, &.col-5 {
			flex: 1 1 calc( 41.666% - var(--body-spacing) );
			min-width: 10em;
		}

		&.w-50, &.col-6 {
			flex: 1 1 calc( 50% - var(--body-spacing) );
			min-width: 15em;
		}

		&.w-58, &.col-7 {
			flex: 1 1 calc( 58.333% - var(--body-spacing) );
			min-width: 15em;
		}

		&.w-67, &.col-8 {
			flex: 1 1 calc( 66.666% - var(--body-spacing) );
			min-width: 15em;
		}

		&.w-75, &.col-9 {
			flex: 1 1 calc( 75% - var(--body-spacing) );
			min-width: 20em;
		}

		&.w-83, &.col-10 {
			flex: 1 1 calc( 83.333% - var(--body-spacing) );
			min-width: 20em;
		}

		&.w-92, &.col-11 {
			flex: 1 1 calc( 91.666% - var(--body-spacing) );
			min-width: 20em;
		}

		&.w-100, &.col-12 {
			flex: 1 1 calc( 100% - var(--body-spacing) );
			min-width: 20em;
		}
	}

	> hr {
		flex: 1 1 100%;
		height: 0;
		overflow: hidden;
		margin: 0;
		padding: 0;
		border: 0;
	}
}
</style>
